@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

:root {
    --primary-color: #676050;
    --secondary-color:  #00a5cf;
    --accent1-color: #E39C3F;
    --accent2-color: #6f7365;
    --form_color:rgb(98, 31, 161);

    --heading-font:'Truculenta';
    --paragraph_font:'Arial', serif;
    --nav-backgroung-color:rgb(206, 215, 230);
    --nav-link-color:black;
    --nav-hover-link-color:rgb(241, 241, 245);
    --nav-hover-background-color:grey;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 20px 5px;
    padding: 20px;
    background-color: var(--accent2-color);
    border: 1rem;
}
img {
    padding: 1px;
    grid-column: 1;
    grid-row: 1;
    border: 1rem;
}
nav {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--nav-backgroung-color);
    font-size: 1.2rem;
    max-width: 70%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border: 1rem;
}
nav>a {
    color: var(--nav-link-color);
    text-decoration: none;
    text-decoration-line: none;
    padding: 1rem;
    border-radius: 20%;
      
}
nav>a:link, nav>a:visited {
    color: var(--nav-link-color);
}
nav>a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
body {
    width: 1250px;
}
.hero{
    position: relative;
}
.hero>img {
    display: block;
    width: 100%;
    height: auto;  
   }
.hero h1{
    position:absolute;
    top: 0px;
    left: 40%;
    color: white;
    opacity: 80%;
}
.hero>article{
    position: absolute;
    opacity: 75%;
    top: 80px;
    left: 15rem;
    right: 15rem;
    color: white;
    background-color: rgb(61, 23, 53);
}
.hero>article>img{
    float: right;
    width: 15%;
    height: auto;  
}
.home_title {
    color: white;
    font-size: xx-large;
    width: 100%;
    align-content: center;
}
.home_title>h1 {
    color: white;
    top: 10%;
    left: 42%;
    opacity: 100%;
}
.home_title>article{
    font-size:large;
    color: white;
    position: absolute;
    opacity: 80%;
    top: 160px;
    left: 27rem;
    right: 23rem;
    background-color: rgb(88, 54, 54);
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-align: center;
    padding: .5rem;
}
.white_text {
    color: white;
    font-style: oblique;
}
.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 50px 150px ;
    justify-items: center;
    align-items: center;
    border-style: double ;
    border-color: darkmagenta;
    margin-top: 25px;
}
.history>h2 {
    grid-column: 2;
    grid-row: 1;
 }
.p_left {
    grid-column: 1;
    grid-row: 2;
    padding: 1rem;
    padding-left: 6rem;
}
.p_right {
    grid-column: 3;
    grid-row: 2;
    padding: 1rem;
    padding-right: 6rem;
}
 .history>img{
    grid-column: 2;
    grid-row: 2;
    padding: .5rem;
    max-width: 150px;
    height: auto;
    border-radius: 25%;
}
.figures{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.figures>h2 {
    grid-column: 1;
    grid-row: 1;
}
.images {
    grid-row: 2; 
    display: flex;
    flex-flow: row;
    width: 1250px;
    flex-basis: 120px;
    align-items: center;
}
figure {
    border: thin #c0c0c0 solid;
    padding: 1px;
    margin: 0%;
    width: 245px;
    height: auto;
}
.images>figure>img {
    width: 230px;
    height: auto;
}
  
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 1px;
    text-align: center;
    width: 242px;
    height: auto;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: right;
    
    align-content: space-evenly;
    margin-top: 3rem;
    border-top-style:solid;
    border-color: var(--accent2-color);
}
footer>p{
    grid-column: 2/4;
    text-align: center;
    
}
.sociallinks {
    grid-column: 5;
    background-color: white;
}
.sociallinks>a>img {

    width: 25px;
    height: auto;
}
.sociallinks a:hover{
    width: 50px;
    height: auto;
    background-color: aqua;
}

/* contact portion*/

.stafftitle {
    padding-left: 22%;
}
.people{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.people>figure{
    border-style: none;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.people>img {
    height: 180px;
    width: auto;      
}
.people>figure>figcaption{
    padding: 0;
    background-color: whitesmoke;
    color: var(--nav-link-color);
    font-style: normal;
}
.map{
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    padding-right: 0;
}
.contact{
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    border-top-style:solid;
    border-color: var(--accent2-color);
    padding: 1rem;
    margin-top: 10px;
}
.left{
    grid-column: 1;
    margin-top: 3rem;
    padding-left: 1rem;
    margin-left:1rem;
}
.left>h5{
    height: 5px;
}
.right{
    grid-column: 3;
    margin-top: 3rem;
    margin-left: 5rem;
    padding-left: 1rem;

}
.right>h5{
    height: 5px;
}
.bold{
    font-size: large;
    padding-top: 1rem;
}
form{
    border-style:solid;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: .7rem;
    padding: 1rem;
    margin: 0 auto;
    width: 550px;
    background-color: #eee;
    display: grid;
    grid-column: 2;
    grid-row: 5;
}
form>label {
    grid-column: 1;
}
.r3>div {
    width: 100px;
    flex: 2;
}
.r1, .r2, .r3, .r4, .r5{
    display: flex;
    flex-direction: row;
    margin: .5rem;
    align-items: center;
    
} 
.r1>label, .r2>label, .r3>label, .r4>label{
    width: 90px ; 
}
.r5>label{
    font-style: italic;
    font-size: 17px;
    margin-left: 100px;
    
}
.r6 {
    grid-row: 6;
    text-align: center;
}
.options {
    display: flex ;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    margin: 5px;
    padding: .5rem;
}
.options label{
    font-size: small;
    width: 5em;
}
.questions {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    text-align: left;   
}
.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: bottom;
    height: auto;
}
textarea{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.1rem;
    padding: .5rem;
    width: 100px;
    flex: 2;
   
}
label{
    text-align: center;
    padding-right: .5rem;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.1rem;   
}
input{
    width: 100px;
    flex: 2;
    height: .7em;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.1rem;
    padding: .5rem;
}
button{
    margin: 1rem;
    margin-top: 1.5rem;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .75rem;
    font-size: large;
    width: 75%;
}
button:hover{
    background-color: darkgreen;
}
.grid_trips{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 80px auto auto auto;
    grid-gap: 0px;
    padding: 0px;
}
.grid-trips>div {
    text-align: center;
    padding: 0;
    font-size: 50px;
    align-content: center;
    align-items: center;
}
.trips_title{
    grid-area: 1 / 1 / 1 / span 2 ;
    text-align: center;
    font-size: larger;
    border-bottom-style: solid ;
    border-width: 2px;
    border-color: var(--accent2-color);
    margin-bottom: 5px;
   
}
.trip_text {
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem;
    padding: 10px;
    font-size: large;
}
.trip_picture{
    padding: 0;
    margin: 0;    
}
.trip_picture>a>img{
    padding: 0;
    margin: 0;
    width: 75%;
    height: auto;
}
.trip_picture>a>img:hover{
    width: 100%;
    height: auto;
} 

.all_trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto auto ;
    grid-gap: 0px;
    padding: 0px;
}
.trip_1, .trip_2, .trip_3, .trip_4, 
.trip_5, .trip_6, .trip_7, .trip_8 {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2px;
    border-style: dotted;
    border-width: 1px;
    border-color: var(--accent2-color);
}
.trip_1{
    grid-row: 1;
    grid-column: 1;
}/*
.trip_2{
    grid-row: 1;
    grid-column: 2;
}
.trip_3{
    grid-row: 1;
    grid-column: 3;
}
.trip_4{
    grid-row: 1;
    grid-column: 4;
}
.trip_5{
    grid-row: 2;
    grid-column: 1;
}
.trip_6{
    grid-row: 2;
    grid-column: 2;
}
.trip_7{
    grid-row: 2;
    grid-column: 3;
}
.trip_8{
    grid-row: 2;
    grid-column: 4;
}*/
.picture>img, .picture>figure>a>img{
    height: 200px;
    width: auto;    
}
.picture>img:hover{
    opacity: 50%;
}
.all_trip_text {
    padding: .5rem;
    font-size: medium;
}
.news_letter>form {
    margin: .5rem;
    background-color: rgb(52, 153, 39);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .5rem;
    font-size: large;
    width: 94%;
    text-align: center;   
}
.container{
    display: grid;
    grid-template-rows: 360px 1fr 1fr;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas: 
      "top top top"
      "left center right"
      "bottom bottom bottom";
    grid-gap: .5em;        
    height: auto;
    align-items: center;
}
.container>div{
    text-align: center;
    align-items: center;
    align-content: center;
}   
.home_top{
      grid-area: top;
}   
.home_left{
      grid-area: left;
      text-align: center;   
}
.home_center{
      grid-area: center; 
}
.home_right{
      grid-area: right; 
}
.home_bottom{
      grid-area: bottom;
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content:space-evenly;     
}
.picture>figure>a>img:hover{
    opacity: 30%;
}
.picture{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.picture>figure{
    border: none;
    padding: 0;
}
.picture>figure>figcaption{
    font-size: large;
    background-color: var(--accent2-color);
}
