
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;

}
:root {
    --primary-color: #9fdbf7;
    --secondary-color:  ligthblue;
    --accent1-color: 0;
    --accent2-color: 0;

    --heading-font:'Arial', serif;
    --paragraph_font:'' sherif;
    --nav-backgroung-color:blue;
    --nav-link-color:red;
    --nav-hover-link-color:brown;
    --nav-hover-background-color:grey;



}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-backgroung-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);

}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}