
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

body {
    font: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #676050;
    --secondary-color:  #00a5cf;
    --accent1-color: #E39C3F;
    --accent2-color: #6f7365;

    --heading-font:'Truculenta';
    --paragraph_font:'Arial', serif;
    --nav-backgroung-color:rgb(206, 215, 230);
    --nav-link-color:black;
    --nav-hover-link-color:rgb(98, 185, 243);
    --nav-hover-background-color:grey;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-backgroung-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
/*  this is a comment*/
